<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bokor.bt_mathoperation">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".Fragment_lesson.Addition.Learn_4" />
        <activity android:name=".Fragment_lesson.Sub.Learn_Sub" />
        <activity android:name=".Fragment_lesson.Sub.Learn_Sub_2" />
        <activity android:name=".Fragment_lesson.Sub.Learn_Sub_3" />
        <activity android:name=".Fragment_lesson.Sub.Learn_Sub_4" />

        <activity android:name=".Fragment_lesson.Div.Learn_Div_1"/>
        <activity android:name=".Fragment_lesson.Div.Learn_Div_2"/>
        <activity android:name=".Fragment_lesson.Div.Learn_Div_3"/>
        <activity android:name=".Fragment_lesson.Div.Learn_Div_4"/>
<!--        //fraction-->
        <activity android:name=".Fragment_lesson.Frac.Learn_Frac_1"/>
        <activity android:name=".Fragment_lesson.Frac.Learn_Frac_2"/>
        <activity android:name=".Fragment_lesson.Frac.Learn_Frac_3"/>
        <activity android:name=".Fragment_lesson.Frac.Learn_Frac_4"/>

<!--        //decimal-->
        <activity android:name=".Fragment_lesson.Deci.Learn_Decimal_1"/>
        <activity android:name=".Fragment_lesson.Deci.Learn_Decimal_2"/>
        <activity android:name=".Fragment_lesson.Deci.Learn_Decimal_3"/>

<!--        //weight-->
        <activity android:name=".Fragment_lesson.Weight.Learn_weight_1"/>
        <activity android:name=".Fragment_lesson.Weight.Learn_weight_2"/>
        <activity android:name=".Fragment_lesson.Weight.Learn_weight_3"/>
        <activity android:name=".Fragment_lesson.Weight.Learn_weight_4"/>


        <activity android:name=".Fragment_lesson.Capa.Learn_capa_1"/>
        <activity android:name=".Fragment_lesson.Capa.Learn_capa_2"/>
        <activity android:name=".Fragment_lesson.Capa.Learn_capa_3"/>

<!--        //decimal-->
        <activity android:name=".Activity.Go_to.Lets_start.For_Decimal.Lets_start_decimal" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Decimal.Lets_start_decimal_2" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Decimal.Lets_start_decimal_3" />

<!--        //capacity-->
        <activity android:name=".Activity.Go_to.Lets_start.For_Capacity.Lets_start_capacity" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Capacity.Lets_start_capacity_2" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Capacity.Lets_start_capacity_3" />
<!--        //weight-->
        <activity android:name=".Activity.Go_to.Lets_start.For_Weight.Lets_start_weight" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Weight.Kilogram" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Weight.Change_scale_from_kilogram_to_gram"/>
        <activity android:name=".Activity.Go_to.Lets_start.For_Weight.Change_scale_from_gram_to_kilogram"/>

<!--        //fraction-->
        <activity android:name=".Activity.Go_to.Lets_start.For_Fraction.Lets_start_fraction" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Fraction.Lets_start_fraction_2" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Fraction.Lets_start_fraction_3" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Fraction.Lets_start_fraction_4" />

<!--        //div-->
        <activity android:name=".Activity.Go_to.Lets_start.For_Div.Lets_start_div" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Div.Lets_start_div_2" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Div.Lets_start_div_3" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Div.Lets_start_div_4" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Mul.Lets_start_mul" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Mul.Lets_start_mul_2" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Mul.Lets_start_mul_3" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Mul.Lets_start_mul_4" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Sub.Lets_start_sub_1" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Sub.Lets_start_sub_2" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Sub.Lets_start_sub_3" />
        <activity android:name=".Activity.Go_to.Lets_start.For_Sub.Lets_start_sub_4" />
        <activity android:name=".Fragment_lesson.Addition.Learn_2" />
        <activity android:name=".Fragment_lesson.Addition.Learn_3" />
        <activity android:name=".Activity.Info_List.Sponsor_screen" />
        <activity
            android:name=".Activity.Symbol_Activity.Decimal_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Symbol_Activity.Capacity_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Symbol_Activity.Weight_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Select_Lesson.Select_your_lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Select_Lesson.Select_sub_lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Select_Lesson.Select_mul_lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Select_Lesson.Select_div_lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Select_Lesson.Select_fraction_lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Select_Lesson.Select_weight_lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Select_Lesson.Select_capacity_lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Select_Lesson.Select_decimal_lesson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Symbol_Activity.Fraction_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Lets_start.For_Add.Multiply_Two_digit_and_one_digit_numbers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Lets_start.For_Add.The_sum_of_two_digit_and_one_digit_numbers_is_a_factor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Lets_start.For_Add.Lets_start_lesson_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Go_to.Lets_start.For_Add.Lets_start_lesson_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Info_List.About_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Start_Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragment_lesson.Addition.Learn_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Symbol_Activity.Sum_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Symbol_Activity.Sub_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Symbol_Activity.Mul_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Symbol_Activity.Div_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Home_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash_screen.Splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Fragment_lesson.Mul.Learn_Mul_1"/>
        <activity android:name=".Fragment_lesson.Mul.Learn_Mul_2"/>
        <activity android:name=".Fragment_lesson.Mul.Learn_Mul_3"/>
        <activity android:name=".Fragment_lesson.Mul.Learn_Mul_4"/>
    </application>

</manifest>